# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
public_html

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files

# Uploads (kullanıcı tarafından yüklenen dosyalar)
public/uploads/*
!public/uploads/.gitkeep

